html {
    height: 100%;
}

body {
    min-height: 100%;
	position: relative; 
}

#footer {
    position: absolute;
    bottom: 0;
}
#innerframe
{
	text-align:left;
	width:900px;/* 850 */
	margin:0;
	padding:0;
	padding-left:  50px;
	padding-right: 50px;
	padding-bottom: 150px; 
}

.ac_table tr
{
	cursor:pointer:
}
.ac_table tr:hover
{
	background-color: #eee;
}
.page_options select,
.page_options input[type='text'],
.page_options textarea
{
	font-family: Verdana,Arial,sans-serif;
	font-size: 1em;
	width: 550px;
}	
.page_options textarea
{
	height:100px;
}
.page_options .symb_count
{
	color:gray;
}
.grayText
{
	color:gray;
}
.page_options th
{
	padding-right: 0;
}

.page_options td
{
	padding-left: 5px;
}
.page_options
{
	font-family: Times New Roman; 
	font-size: 18px;
	border: 1px solid #ccc;
	border-radius: 7px;
	padding: 20px;
}
#htracer_title_order
{
	width:200px;
}
#htracer_title_spacer
{
	width:50px;
}
.dhint
{
	font-size:12pt;
}

.dhint::selection
{
	background: none;
}
.dhint::-moz-selection
{
	background: none;
}


.plugin_options
{
	border: 1px solid #dadada;
	border-radius: 5px;
	padding: 20px;
	margin: 20px;
	margin-left:0;
	margin-right:40px;
	
}

#tabs-cloud #htracer_cloud_selector,
#tabs-cloud #htracer_cloud_pre,
#tabs-cloud #htracer_cloud_post
{
	width:120px;
	font-size: 9pt;
}
.options_admin_page th, .page_options  th
{
	font-weight:normal;
}
#htracer_url_exceptions
{
	font-size:10pt;
}

#ws_table_div 
{
	font-size:10pt;
}
hr.normal
{
	position:static; width: auto; margin-top:10px;margin-bottom:10px
}
#htracer_trace_runaway,#htracer_trace_view_depth
{
	width:35px;
	font-size: 10pt;
}
#htracer_use_php_dom
{
	width:175px;
}
#speed_test
{
	margin-top:15px;
	margin-bottom:15px;
}
#speed_test h3
{
	margin-top:0;
	margin-bottom:0;
}
#speed_test_btn
{
	margin-top:14px; 
}
#htracer_trace_grooping,#htracer_cash_days,
#htracer_trace_p1_bonus,#htracer_trace_p2_bonus,#htracer_trace_p3_bonus,#htracer_trace_p4_bonus,#htracer_trace_p5_bonus
{
	width:50px;
}
#htracer_trace_p1_url,#htracer_trace_p2_url,#htracer_trace_p3_url,#htracer_trace_p4_url,#htracer_trace_p5_url
{
	width:300px;
}

#ws_key_table input[type="text"]
{
	width:50px;
	font-size:10pt;
}
#ws_key_table td
{
	white-space:nowrap;
}
#suggest_td1,#suggest_td2
{
	height:250px;
}
#suggest_td2 ul
{
	height:210px;
	max-height:210px;
	overflow-y:scroll;
}
#suggest_td2 ul
{
	list-style:none;
	margin:0;
	padding:0;
}
#suggest_td2 li
{
	list-style:none;
	margin:0;
	padding:0;
}

.ui-autocomplete li a
{
	cursor:pointer;
}
#suggest_td2, #ws_td2
{
	border-left: 1px solid rgb(206, 239, 214);
	padding-left:24px
}
#ws_td1
{
	width: 250px;
}
#ws_td1 input[type="text"],
#ws_td1 select
{
	width: 230px;
}

#suggest_td1
{
	padding-right:25px;
	width: 350px;
}
#suggest_td1 input[type="text"],
#suggest_td1 select
{
	width: 330px;
}
.page_admin_page .out_td input[type="text"] {
    width: 330px;
}
.page_admin_page a[href="pages.php"]
{
	font-style: italic;
}

#goto_page_input,
#add_page_input
{
	width:400px;
	margin-bottom: 1px;
}
#pages_table thead .cloud_td,
#pages_table thead .titles_td
{
	cursor:default;
}
.cloud_td .DataTables_sort_wrapper div.hint,
.titles_td .DataTables_sort_wrapper div.hint 
 {
	float:none;
}

#pages_table .cloud_td,
#pages_table .titles_td
{
    width: auto;
    padding-left: 5px;
    padding-right: 5px;
	text-align:center;
}	

.peva_td
{
	text-align:center;
    padding-left: 5px;
    padding-right: 5px;

}

#pages_table .del_td input,
#pages_table .cloud_td input,
#pages_table .titles_td input
{
	margin-right:0;
}
#pages_table .page_td
{
	white-space: nowrap;
}
#pages_table .page_td,
#pages_table .k1_td,
#pages_table .k2_td
{
    padding-left: 0;
	padding-right: 0;
}
#pages_table thead .page_td,
#pages_table thead .k1_td,
#pages_table thead .k2_td
{
    padding-left: 5px;
}

#pages_table .page_td
{
	padding-right:3px;
}

#pages_table .k1_td input,
#pages_table .k2_td input
{
	font-size:9pt;
	width:210px;
	margin-right:0;
}
#pages_table .page_td input
{
	width:300px;
	margin-right:0;
}
 

#logos_td
{
	width:500px;
	padding-left:20px;
	padding-right:20px;
}

.ga_image
{
	text-decoration:none;
	border-bottom: 1px dashed black;
	color:black;
	cursor:help;
}
.header_message
{
	padding: 20px;
	border: 2px solid rgb(206,239,214);
	border-radius: 10px;
	font-size:110%;
}

#mysql_options th
{
	white-space:nobr;
}

input[type="submit"][disabled="disabled"]
{
	cursor:default;
	font-size:120%;
}
input[type="submit"]
{
	cursor:pointer;
	font-size:120%;
}
.ui-autocomplete
{
	font-size:10pt;
}
body.keys_admin_page #keys_table_filter label
{
	cursor: help;
}
body.keys_admin_page #keys_table_filter input[type="text"]
{
	width: 195px;
	font-size:8pt;
	cursor: edit;
}

#export_form input,
#export_form select
{
	margin-bottom: 5px;
}
#logos_td 
{
	border-left: 2px solid rgb(206,239,214);
}
#logos_td img
{
	margin:25px;
	padding:5px;
	sborder: 1px solid white;
	cursor: pointer;
	opacity: .2;
	filter: alpha(opacity=20);
}

#logos_td img.selected,
#logos_td img:hover
{
	opacity: 1;
	filter: alpha(opacity=100);
}

#logos_td img.selected
{
	sborder: 1px dotted rgb(206,239,214);
	cursor: default;
}

.ui-accordion .ui-accordion-content
{
    font-family: Times New Roman;
    font-size: 12pt;
}
.ui-accordion .ui-accordion-content,
.ui-accordion .ui-accordion-header a
{
	 padding-left: 40px;
}

 
.data_table
{
	border-collapse: collapse;
}
.data_table thead th {
    cursor: pointer;
    padding: 3px 0 3px 10px;
	background: url("http://datatables.net/media/css/jui_themes/redmond/images/ui-bg_glass_85_dfeffc_1x400.png") repeat-x scroll 50% 50% #DFEFFC;
	border: 1px solid #C5DBEC;
	color: #2E6E9E;
    font-weight: bold;
    outline: medium none;
    text-align: left;
}
.dataTables_wrapper {
    clear: both;
	smin-height: 302px;
    position: relative;
}
.dataTables_wrapper .fg-toolbar {
    font-size: 0.8em;
}
div.dataTables_wrapper .ui-widget-header {
    font-weight: normal;
}
.hint
{
	display:inline;
}
.dataTables_wrapper .ui-toolbar {
    padding: 5px;
    border-top-right-radius: 5px;
	border-top-left-radius: 5px;
    background: url("http://datatables.net/media/css/jui_themes/redmond/images/ui-bg_gloss-wave_55_5c9ccc_500x100.png") repeat-x scroll 50% 50% #5C9CCC;
    border: 1px solid #4297D7;
    color: #FFFFFF;
}
.dataTables_length {
    float: left;
    width: 40%;
}
.dataTables_filter {
    float: right;
    text-align: right;
    width: 50%;
}

.dataTables_wrapper .ui-widget-header input, 
.dataTables_wrapper .ui-widget-header select, 
.dataTables_wrapper .ui-widget-header textarea, 
.dataTables_wrapper .ui-widget-header button 
{
    font-size: 0.8em;
    font-family: Times New Roman;
}
.dataTables_wrapper .ui-widget-header select
{
	width:auto;
} 
.css_right 
{
    float: right;
}
table.display thead th div.DataTables_sort_wrapper span.DataTables_sort_icon
{
    margin-top: -8px;
    position: absolute;
    right: 0;
    top: 50%;
}
.DataTables_sort_wrapper div.hint
{
	float:left;
}


.ui-icon.hint ,
.ui-icon .hint
{
	display:inline;
	background-image:none;
	background:none;
	height: auto;
    width: auto;
}

#active_keys table
{
	width: 100%;
}
table.data_table tr.even {
    background-color: rgb(238,244,251);
}
table.data_table tr.even td.sorting_1{
    background-color: rgb(223,239,255);
}
table.data_table tr.odd {
    background-color: white;
}
table.data_table tr.odd  td.sorting_1{
    background-color: rgb(245,250,255);
}
table.data_table tr td
{
	padding: 3px 10px;
}
table.data_table tr th.cl_th
{
	padding: 3px 6px;
}
table.data_table tr th.sc_th
{
	padding-left: 6px;
}

.out_td input[type="text"],
.eva_td input[type="text"]
{
	font-size:75%;
}
.key_td 
{
	font-size:90%;
}


.key_td 
{
	smin-width: 200px;
	white-space:nowrap;
	overflow:hidden;
}
.out_td input[type="text"]
{
	width: 200px;
}
.eva_td input[type="text"]
{
	width: 45px;
}

table.data_table tr td.url_td
{
	font-size:70%;
	overflow:hidden;
	swhite-space:nowrap;
	padding-right:3px;
}
table.data_table tr td.out_td
{
	padding-left: 3px;	
	padding-right: 3px;	
}
table.data_table tr td.eva_td
{
	padding-left: 3px;	
	padding-right: 3px;	
}


.sc_th
{
	spadding-left:7px;
}
.cl_td,.sc_td,.cl_th,.sc_th, .eva_td
{
    text-align: center;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a 
{
    cursor: default;
}

.dataTables_info {
    padding-top: 0;
    float: left;
    swidth: 30%;
	white-space:nowrap;
	font-size: 0.8em;
}
.dataTables_paginate .ui-button {
    margin-right: -0.1em !important;
	margin: 0;
    padding: 2px 6px;
	font-weight:bold;
}
.dataTables_paginate {
    padding-top: 0;
    float: right;
    text-align: right;
	width: 450px !important;
}

	input[type=text],select {
		width: 160px;
	} 
	#tabs-cloud select 
	{
		width: 100px;
	} 
	#tabs-cloud input[type=text]
	{
		width: 50px;
	}
	

	#logolinks
	{
		width: 625px;
		margin:0;
		padding:0;
		float:right;
		padding-left: 70px;
		vertical-align: justify;
		text-align: justify;
		sborder: 1px red solid;
 		font-size:   1px;
		line-height:0;
		vertical-align:bottom;
		text-align:bottom;
	}
	#logodiv
	{
		border:0;
		padding:0;
		margin:0;
		
		vertical-align:bottom;
	}
	
	#logolinks a,
	#logolinks span
	{
		padding-left: 50px;
		font-size:   30px;
		font-family: Times New Roman;
		text-decoration: none;
	}
	#logolinks span
	{
		color: gray;
		cursor: default;
	}
			#outerframe
			{
				margin:0 auto; 
				padding:0;
				text-align:center;
				width:1000px;/* 980 */
			}

			hr
			{
				position:relative;
				left:-50px;
				width:1000px; 
				border:0;
				padding:0;
				margin:0;
				margin-top:45px;
				margin-bottom:25px;
				border-top: 2px solid rgb(206,239,214);
			}
			#logodiv
			{
				margin-top:20px;
				smargin-bottom:20px;
				z-index:100;
			}
			#header
			{
				background-image:url(http://htracer.ru/line.PNG);
				background-repeat:repeat-x;
				height:72px;
			}
			
			a img
			{
				border:0;
			}
			a
			{
				color:#1c97ed;
			}
			#footer
			{
				margin-top:40px;
				width:100%;
				border-bottom: 2px solid gray;
			}
			#footer div
			{
				background-image:url("http://htracer.ru/grad.PNG");
				background-repeat:repeat-x;
				height:14px;
				margin:0;
				width:100%;
			}
			html body
			{
				margin:0;
				padding:0;
			}
			#footer center
			{
				background-color:#F7F7F7;
				margin:0;
				padding-top:7px;
				padding-bottom:15px;
				
			}
			#footer a, #footer span
			{
				font-size:20px;
				margin-left:30px;
			}
			#footer span
			{
				color: gray;
				cursor: default;
			}
			#header, #header tr, #header tr td, #header tr td a, #header tr td a img
			{
				border:0;
				margin:0;
				padding:0;
			}
			#logo, #logo a, #logo a img
			{
				width:211px; 
				height:70px;
			}
			
		th{
			font-weight:normal
			font-size: 110%;
			stext-align: justify;
			text-align:left; 
			stext-align:right; 
		}
		
		.dhint, .hint
		{
			border-bottom:1px dashed #A0A0A0;
			cursor: pointer;
			cursor: help;
		}
		.dhint
		{
			cursor: pointer;
		}
		.ui-widget .ui-tabs-panel
		{
			font-family: Times New Roman;
		}
		
		.star_hint{color:gray}
		h2{margin-bottom:5px;}
		input{margin-left:0;}
		th{smin-width:200px; white-space:nowrap;}
		
		
#ulinks_table thead th 
{
   background:url("http://datatables.net/media/css/jui_themes/redmond/images/ui-bg_glass_85_dfeffc_1x400.png") repeat-x scroll 50% 50% #DFEFFC;
   white-space:normal;
}
#ulinks_table input
{
	width: 100%;
	font-size:75%;
}
#ulinks_table  .u_act_td
{
	text-align:center;
}
#ulinks_table  th.u_key_th
{
	padding-left:10px;
}
#ulinks_table  .u_key_td
{
	padding-left:0;
}

#htracer_ulink_count
{
	width:15px;
}
.ulft_cb
{
	width:15px;
}
.ulft_key
{
	padding-right:7px;
}
.ulft_key,.ulft_url
{
	width:100%;
}
#htracer_user_minus_words
{
	width:auto;
	width: 190px;
	font-size:60%;
}

