#mdiv
{
	padding:20px;
	background:white;
}
#mdiv .passages 
{
	font-size:90%;
	width:500px;
	max-width:500px;
	padding-bottom:15px;
}
#mdiv .url 
{	
	font-size:90%; 
	color:gray
}
#mdiv .purl 
{
	cursor:pointer;
	border-bottom:1px dashed gray;
	font-size:90%;
	color:gray
}
#mdiv .plink 
{
	font-size:110%;
	font-weight:normal;
	cursor:pointer;
	border-bottom:1px dashed black;
} 
#mdiv ol
{
	margin:0;
}