body{
	padding-right:50px;
	padding-left:50px;
}
.setby_td,.setby_th
{
	display:none;
}

.url_td input
{
	font-size:80%;
}

.inherit_td
{
	text-align:center;
}
#ProjectKeys .expand
{
	border-bottom:1px dashed black;
	cursor:pointer;
}
.kid_table td,.kid_table th
{
	padding-right: 10px;
}
.kid_table  tr td input
{
	font-size: 90%;
	margin-right: 10px;
}
.kid_table th
{
	font-weight:normal;
}
.kid_table tr.b1  td
{
	background-color:#F0F0F6;
}
.setby_td
{
	text-align:center;
}
.url_th
{
	text-align:left;
}
.key_th
{
	text-align:left;
}

#subbrowser
{
	background:#fff; 
	padding:0;
	margin:0
}

#subbrowser,#subbrowser_iframe
{
	background:#fff; 
	padding:0;
	margin:0;
	border:0; 
}
#subbrowser_btn
{
	margin:0;
	margin-left:10px;
	margin-top:10px;
}
#subbrowser_iframe
{
	border-bottom:1px dashed black;
}
#errors table
{
	margin-top: 20px;
	margin-bottom: 20px;
}
#errors table caption
{
	font-size:110%;
	stext-align: center;
}
#errors table tr th
{
	color: gray;
}
#errors table tr th,#errors table tr td
{	
	font-weight: normal; 
	text-align: left;
	padding-right: 10px;
}
#errors table tr td a
{
	text-decoration:none;
}