		#search_hints_table
		{
			display:inline;
			display:inline-block;
		}
		#search_hints_table, #search_hints_table tr, #search_hints_table td  
		{
			border:0;
			margin:0;
			padding:0;
		}
		#search_hints_outer
		{
			position:relative;
		}
		#search_hints
		{
			position:absolute;
			overflow:hidden;
			width:100px;
			border: 1px solid gray;
			border-top:0;
			display:none;
			background-color:white;
		}
		#search_hints_inner
		{
			overflow:hidden;
			margin:10px;
			margin-top:5px;
			width:100%;
		}
		#search_hints a
		{
			display:block;
			white-space:nowrap;
		}