#form_wrapper {
   position: fixed;
   z-index: 999999;
   display: none;
}
#form_wrapper_footer {
   position: fixed;
   z-index: 999999;
   display: none;
}
#form_wrapper_sale {
   position: fixed;
   z-index: 999999;
   display: none;
}
#form_wrapper_buy {
   position: fixed;
   z-index: 999999;
   display: none;
}
#form_wrapper_reviews {
   position: fixed;
   z-index: 999999;
   display: none;
}
#form_wrapper_filter {
   position: fixed;
   z-index: 999999;
   display: none;
}
.form_callback{
   background: url('/images/img_callback/gradient.png') repeat-x bottom #fff;
   width: 100%;
   padding: 0px 5px 20px 0;
   border: 1px solid #7db4ec;
   border-radius: 7px;
   box-shadow: inset 0 0 0 1px #59a0cd, 0 0 0 1px #59a0cd;
   font: normal 12px/1.5em Tahoma, Arial;
   position: relative;
   display: block;
   text-align: left;
   z-index: 10; 
}
.form_callback_footer{
   background: url('/images/img_callback/gradient.png') repeat-x bottom #fff;
   width: 100%;
   padding: 0px 5px 20px 0;
   border: 3px solid #7db4ec;
   border-radius: 7px;
   box-shadow: inset 0 0 0 1px #59a0cd, 0 0 0 1px #59a0cd;
   font: normal 12px/1.5em Tahoma, Arial;
   position: relative;
   display: block;
   text-align: left;
   z-index: 10; 
}
.form_callback_sale{
   background: url('/images/img_callback/gradient.png') repeat-x bottom #fff;
   width: 100%;
   padding: 0px 5px 20px 0;
   border: 3px solid #7db4ec;
   border-radius: 7px;
   box-shadow: inset 0 0 0 1px #59a0cd, 0 0 0 1px #59a0cd;
   font: normal 12px/1.5em Tahoma, Arial;
   position: relative;
   display: block;
   text-align: left;
   z-index: 10; 
}
.form_callback p:nth-child(2n){
    margin-bottom: 1px !important;
    margin-top: -6px !important;
    margin-left: 0px !important;
}
.form_callback p:nth-child(2n+1){
    margin-bottom: 1px !important;
    margin-top: -4px !important;
    margin-left: 0px !important;
}
.form_callback_footer p:nth-child(2n){
    margin-bottom: 1px !important;
    margin-top: -6px !important;
    margin-left: 0px !important;
}
.form_callback_sale p:nth-child(2n){
    margin-bottom: 1px !important;
    margin-top: -6px !important;
    margin-left: 0px !important;
}
.form_callback_footer p:nth-child(2n+1){
    margin-bottom: 1px !important;
    margin-top: -4px !important;
    margin-left: 0px !important;
}
.form_callback_sale p:nth-child(2n+1){
    margin-bottom: 1px !important;
    margin-top: -4px !important;
    margin-left: 0px !important;
}
.form_callback_buy, .form_all {
   background: url('/images/img_callback/gradient.png') repeat-x bottom #fff;
   width: 100%;
   padding: 0px 5px 20px 0;
   border: 3px solid #7db4ec;
   border-radius: 7px;
   box-shadow: inset 0 0 0 1px #59a0cd, 0 0 0 1px #59a0cd;
   font: normal 12px/1.5em Tahoma, Arial;
   position: relative;
   display: block;
   text-align: left;
}
.form_callback_buy, .form_all_spec {
   background: url('/images/img_callback/gradient.png') repeat-x bottom #fff;
   width: 100%;
   padding: 0px 5px 20px 0;
   border: 3px solid #7db4ec;
   border-radius: 7px;
   box-shadow: inset 0 0 0 1px #59a0cd, 0 0 0 1px #59a0cd;
   font: normal 12px/1.5em Tahoma, Arial;
   position: relative;
   display: block;
   text-align: left;
}
.form_callback_reviews, .form_all {
   background: url('/images/img_callback/gradient.png') repeat-x bottom #fff;
   width: 100%;
   padding: 0px 5px 20px 0;
   border: 3px solid #7db4ec;
   border-radius: 7px;
   box-shadow: inset 0 0 0 1px #59a0cd, 0 0 0 1px #59a0cd;
   font: normal 12px/1.5em Tahoma, Arial;
   position: relative;
   display: block;
   text-align: left;
}
.form_callback_reviews, .form_all_spec {
   background: url('/images/img_callback/gradient.png') repeat-x bottom #fff;
   width: 100%;
   padding: 0px 5px 20px 0;
   border: 3px solid #7db4ec;
   border-radius: 7px;
   box-shadow: inset 0 0 0 1px #59a0cd, 0 0 0 1px #59a0cd;
   font: normal 12px/1.5em Tahoma, Arial;
   position: relative;
   display: block;
   text-align: left;
}
.form_callback_filter, .form_all {
   background: url('/images/img_callback/gradient.png') repeat-x bottom #fff;
   width: 100%;
   padding: 0px 5px 20px 0;
   border: 1px solid #7db4ec;
   border-radius: 7px;
   box-shadow: none;
   font: normal 12px/1.5em Tahoma, Arial;
   position: relative;
   display: block;
   text-align: left;
   margin-top:20px;
}
.form_callback_filter, .form_all_spec {
   background: url('/images/img_callback/gradient.png') repeat-x bottom #fff;
   width: 100%;
   padding: 0px 5px 20px 0;
   border: 1px solid #7db4ec;
   border-radius: 7px;
   box-shadow: inset 0 0 0 1px #59a0cd, 0 0 0 1px #59a0cd;
   font: normal 12px/1.5em Tahoma, Arial;
   position: relative;
   display: block;
   text-align: left;
}







.form_all_reserv {
   background: url('/images/img_callback/gradient.png') repeat-x bottom #fff;
   width: 100%;
   padding: 0px 5px 20px 0;
   border: 3px solid #7db4ec;
   border-radius: 7px;
   box-shadow: inset 0 0 0 1px #59a0cd, 0 0 0 1px #59a0cd;
   font: normal 12px/1.5em Tahoma, Arial;
   position: relative;
   display: block;
   text-align: left;
}
.form_all_reserv h3{
   font: 24px/1.2em Tahoma, Arial;
   color: #003366;
   margin: 10px 0 10px 35px;
}
.form_all_reserv p{
   font-size: 14px;
   margin: 10px 0;
   clear:both;
   padding-bottom:10px;
   padding-right: 10px;    
}
.form_all_reserv label{
    cursor:pointer;
    color:#003366;
}
.form_all_reserv form {
   display: block;
   margin: 0px 0 0 35px;
}
.form_all_reserv .input_txt, .form_all_reserv .callback_select {
   width: 340px;
   padding: 6px;
   margin: 0 0 17px 0px;
   border: 1px solid #41a5df;
   display: block;
   box-shadow: 0 0 1px 0 #41a5df;
    transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
}
.form_all_reserv hr {
   border-top: 1px dotted #003366;
   border-collapse: collapse;
   width: 93%;
   margin: 0;
   background: none !important;
   height: 1px !important;
}
.form_all_reserv .input_txt:focus, .form_all_reserv .input_txt_wo_size:focus {
   box-shadow: 0 0 7px 0 #41a5df;
   outline:none;
}
.form_all_reserv .input_required_reserv.error_reserv  {
   background-color: #FFEDED;
}
.form_submit_reserv{
   padding: 0 15px 3px !important;
   height: 33px !important;
   background: url('/images/img_callback/gradient_button.png') repeat-x !important;
   border: 1px solid #134071 !important;
   border-radius: 7px !important;
   font: bold 15px/33px Tahoma, Arial !important;
   color: #fff !important;
   cursor: pointer !important;
   margin: 15px 0 0 0 !important;
   box-shadow: 0px 1px 2px 0 #08598D !important;
}

.form_submit_reserv:hover {
   background: url('/images/img_callback/gradient_button_hide.png') repeat-x !important;
}
#error_message_reserv {
    color: red;
    opacity: 0;
    text-align: center;
    margin: 0 0 -15px 35px;
	display:none;
}










#bg_pattern {
   /*background: url('/images/img_callback/pattern_bg.png') no-repeat;*/
   background: none !important;
   width: 400px;
   height: 62px;
   margin: 1px 0 -55px 1px;
}

.form_callback.form_callback p, .form_all h3, .form_all p {
   font: 24px/1.2em Tahoma, Arial;
   color: #003366;
   margin: 10px 0 10px 35px;
}
.form_callback.form_callback p, .form_all_spec h3, .form_all_spec p {
   font: 24px/1.2em Tahoma, Arial;
   color: #003366;
   margin: 10px 0 10px 35px;
}
.form_callback_buy .form_callback_buy p{
   font: 24px/1.2em Tahoma, Arial;
   color: #003366;
   margin: 10px 0 10px 0px;
}
.form_callback_filter .form_callback_buy p{
   font: 24px/1.2em Tahoma, Arial;
   color: #003366;
   margin: 10px 0 10px 0px;
}
.form_callback_reviews .form_callback_reviews p{
   font: 24px/1.2em Tahoma, Arial;
   color: #003366;
   margin: 10px 0 10px 0px;
}
.form_callback_filter .form_callback_reviews p{
   font: 24px/1.2em Tahoma, Arial;
   color: #003366;
   margin: 10px 0 10px 0px;
}
.form_callback_footer .form_callback_footer p{
   font: 24px/1.2em Tahoma, Arial;
   color: #003366;
   margin: 10px 0 10px 0px;
}
.form_callback_sale .form_callback_sale p{
   font: 24px/1.2em Tahoma, Arial;
   color: #003366;
   margin: 10px 0 10px 0px;
}
.form_callback_buy h3{
   font: 24px/1.2em Tahoma, Arial;
   color: #003366;
   margin: 10px 0 10px 35px;
   width: 340px;
}
.form_callback_reviews h3{
   font: 24px/1.2em Tahoma, Arial;
   color: #003366;
   margin: 10px 0 10px 35px;
   width: 340px;
}
.form_callback_filter h3{
   font: 24px/1.2em Tahoma, Arial;
   color: #003366;
   margin: 10px 0 10px 35px;
   width: 340px;
}
.form_callback_footer h3{
   font: 24px/1.2em Tahoma, Arial;
   color: #003366;
   margin: 10px 0 10px 35px;
   width: 340px;
}
.form_callback_sale h3{
   font: 24px/1.2em Tahoma, Arial;
   color: #003366;
   margin: 10px 0 10px 35px;
   width: 340px;
}


.form_description p{
	color:#666666 !important;
	font-size:13px !important;}


.form_callback p, .form_all p {
   font-size: 14px !important;
   margin: 10px 0;
   clear:both;
   padding-bottom:10px;
   padding-right: 10px;
}
.form_callback p, .form_all_spec p {
   font-size: 14px !important;
   margin: 10px 0;
   clear:both;
   padding-bottom:10px;
   padding-right: 10px;
}
.form_callback_footer p, .form_all p {
   font-size: 14px !important;
   margin: 10px 0;
   clear:both;
   padding-bottom:10px;
   padding-right: 10px;
}
.form_callback_sale p, .form_all p {
   font-size: 14px !important;
   margin: 10px 0;
   clear:both;
   padding-bottom:10px;
   padding-right: 10px;
}
.form_callback_buy p, .form_all p {
   font-size: 14px;
   margin: 10px 0px 0px 0px;
   clear:both;
   padding-bottom:10px;
   padding-right: 10px;
}
.form_callback_reviews p, .form_all p {
   font-size: 14px;
   margin: 10px 0px 0px 0px;
   clear:both;
   padding-bottom:10px;
   padding-right: 10px;
}
.form_callback_filter p, .form_all p {
   font-size: 14px;
   margin: 10px 0;
   clear:both;
   padding-bottom:10px;
   padding-right: 10px;
}

.form_p {
    width: 170px!important;
    display: block;
    line-height:1 !important;
    margin: 3px 0 0 0 !important;
    float: left;
}

.form_all label{
	cursor:pointer;
	color:#003366;}
.form_all_spec label{
	cursor:pointer;
	color:#003366;}

.form_callback hr, .form_all hr {
   border-top: 1px dotted #003366;
   border-collapse: collapse;
   width: 93%;
   margin: 0;
   background: none !important;
   height: 1px !important;
}
.form_callback hr, .form_all_spec hr {
   border-top: 1px dotted #003366;
   border-collapse: collapse;
   width: 93%;
   margin: 0;
   background: none !important;
   height: 1px !important;
}

.form_callback form, .form_all form {
   display: block;
   margin: 0px 0 0 35px;
}
.form_all_spec form {
   display: block;
   margin: 0px 0 0 35px;
}
.form_callback_footer form, .form_all form {
   display: block;
   margin: 0px 0 0 35px;
}
.form_callback_sale form, .form_all form {
   display: block;
   margin: 0px 0 0 35px;
}
.form_callback_buy form, .form_all form {
   display: block;
   margin: 0px 0 0 35px;
}
.form_callback_reviews form, .form_all form {
   display: block;
   margin: 0px 0 0 35px;
}
.form_callback_filter form, .form_all form {
   display: block;
   margin: 0px 0 0 35px;
}
.form_callback_filter .input_txt, .form_callback_filter .callback_select, .form_all .input_txt, .form_all .callback_select_filter {
   width: 300px;
   padding: 6px;
   font-size: 14px;
   margin: 0 0 17px 0px;
   border: 1px solid #0095eb;
   display: block;
   box-shadow: 0 0 1px 0 #0095eb;
    transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
}

.callback_select_wo_size{
   padding: 6px;
   margin: 0 0 17px 0px;
   border: 1px solid #41a5df;
   display: block;
   box-shadow: 0 0 1px 0 #41a5df;
    transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;     
}

.input_txt_wo_size {
   padding: 6px;
   margin: 0 0 17px 0px;
   border: 1px solid #41a5df;
   display: block;
   box-shadow: 0 0 1px 0 #41a5df;
    transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
}

.form_callback .input_txt:focus, .form_all .input_txt:focus, .form_callback .input_txt_wo_size:focus, .form_all .input_txt_wo_size:focus {
   box-shadow: 0 0 7px 0 #41a5df;
   outline:none;
}
.form_callback .input_txt:focus, .form_all_spec .input_txt:focus, .form_callback .input_txt_wo_size:focus, .form_all .input_txt_wo_size:focus {
   box-shadow: 0 0 7px 0 #41a5df;
   outline:none;
}
.form_callback_footer .input_txt:focus, .form_all .input_txt:focus, .form_callback_footer .input_txt_wo_size:focus, .form_all .input_txt_wo_size:focus {
   box-shadow: 0 0 7px 0 #41a5df;
   outline:none;
}
.form_callback_sale .input_txt:focus, .form_all .input_txt:focus, .form_callback_sale .input_txt_wo_size:focus, .form_all .input_txt_wo_size:focus {
   box-shadow: 0 0 7px 0 #41a5df;
   outline:none;
}
.form_callback_buy .input_txt:focus, .form_all .input_txt:focus, .form_callback .input_txt_wo_size:focus, .form_all .input_txt_wo_size:focus {
   box-shadow: 0 0 7px 0 #41a5df;
   outline:none;
}
.form_callback_reviews .input_txt:focus, .form_all .input_txt:focus, .form_callback .input_txt_wo_size:focus, .form_all .input_txt_wo_size:focus {
   box-shadow: 0 0 7px 0 #41a5df;
   outline:none;
}
.form_callback_filter .input_txt:focus, .form_all .input_txt:focus, .form_callback .input_txt_wo_size:focus, .form_all .input_txt_wo_size:focus {
   box-shadow: 0 0 7px 0 #41a5df;
   outline:none;
}

.form_callback .input_required.error, .form_all .input_required.error  {
   background-color: #f9b9b9;
}
.form_callback .input_required.error, .form_all_spec .input_required.error  {
   background-color: #f9b9b9;
}
.form_callback_footer .input_required.error, .form_all .input_required.error  {
   background-color: #f9b9b9;
}
.form_callback_sale .input_required.error, .form_all .input_required.error  {
   background-color: #f9b9b9;
}
.form_callback_buy .input_required.error, .form_all .input_required.error  {
   /*background-color: #FFEDED;*/
   background-color: #f9b9b9;
}
.form_callback_reviews .input_required.error, .form_all .input_required.error  {
   /*background-color: #FFEDED;*/
   background-color: #f9b9b9;
}
.form_callback_filter .input_required.error, .form_all .input_required.error  {
   /*background-color: #FFEDED;*/
   background-color: #f9b9b9;
}

.error_key{
    background-color: #f9b9b9;
}

.callback_select { 
   background: url('/images/img_callback/select_arrow.gif') no-repeat 97% center #fff;
}
.callback_select:nth-child(2n+1) { 
   bottom: 70px;
}
.callback_select:nth-child(2n) { 
   bottom: 125px;
}

#form_dropdown_SIMPLE_QUESTION_387{
    bottom: 70px;
}

.callback_select_footer { 
   background: url('/images/img_callback/select_arrow.gif') no-repeat 97% center #fff;
}
.callback_select_footer:nth-child(2n+1) { 
   bottom: 90px;
}
.callback_select_footer:nth-child(2n) { 
   bottom: 142px;
}
.callback_select_sale { 
   background: url('/images/img_callback/select_arrow.gif') no-repeat 97% center #fff;
}
.callback_select_sale:nth-child(2n+1) { 
   bottom: 90px;
}
.callback_select_sale:nth-child(2n) { 
   bottom: 142px;
}
.form_callback_filter .callback_select:nth-child(2n+1) {
    display: block !important;
}



.form_callback_filter .callback_select:nth-child(2n) { 
   bottom: 82px !important;
   display: block !important;
}

.callback_select_wo_size { 
   background: url('../images/img_callback/select_arrow.gif') no-repeat 97% center #fff;
}

.callback_select.customSelectHover {

}

.callback_select.customSelectOpen {

}

.callback_select.customSelectFocus {

}

select.left170 {
    /*margin-left: 170px !important;*/
}

.form_submit_block {
    text-align: center;
    margin: 0 0 0 -30px;
}

.form_submit, .form_callback_submit {
   padding: 0 15px 3px;
   height: 33px !important;
   background: url('/images/img_callback/gradient_button.png') repeat-x;
   border: 1px solid #134071 !important;

   border-radius: 7px !important;
   font: bold 15px/33px Tahoma, Arial !important;
   color: #fff !important;
   cursor: pointer !important;
   margin: 15px 0 0 0 !important;
   box-shadow: 0px 1px 2px 0 #08598D;
}

.form_submit:hover {
   background: url('/images/img_callback/gradient_button_hide.png') repeat-x;
}

.form_callback #form_close {
   position: absolute;
   background: url('/images/img_callback/close.png') no-repeat;
   width: 20px;
   height: 20px;
   right: 10px;
   top: 10px;
   cursor: pointer;
}
.form_callback_footer #form_close_footer {
   position: absolute;
   background: url('/images/img_callback/close.png') no-repeat;
   width: 20px;
   height: 20px;
   right: 10px;
   top: 10px;
   cursor: pointer;
}
.form_callback_sale #form_close_sale {
   position: absolute;
   background: url('/images/img_callback/close.png') no-repeat;
   width: 20px;
   height: 20px;
   right: 10px;
   top: 10px;
   cursor: pointer;
}
.form_callback_buy #form_close {
   position: absolute;
   background: url('/images/img_callback/close.png') no-repeat;
   width: 20px;
   height: 20px;
   right: 10px;
   top: 10px;
   cursor: pointer;
}
.form_callback_reviews #form_close {
   position: absolute;
   background: url('/images/img_callback/close.png') no-repeat;
   width: 20px;
   height: 20px;
   right: 10px;
   top: 10px;
   cursor: pointer;
}
.form_callback_filter #form_close {
   position: absolute;
   background: url('/images/img_callback/close.png') no-repeat;
   width: 20px;
   height: 20px;
   right: 10px;
   top: 10px;
   cursor: pointer;
}

#callback_shadow {
   background-color: #000;
   width: 100%; 
   height: 100%; 
   position: fixed; 
   left: 0px; 
   top: 0px;
   display: none;
   opacity: .6;
   z-index: 9;
   
}
#callback_shadow_footer {
   background-color: #000;
   width: 100%; 
   height: 100%; 
   position: fixed; 
   left: 0px; 
   top: 0px;
   display: none;
   opacity: .6;
   z-index: 9;
   
}
#callback_shadow_sale {
   background-color: #000;
   width: 100%; 
   height: 100%; 
   position: fixed; 
   left: 0px; 
   top: 0px;
   display: none;
   opacity: .6;
   z-index: 9;
  
}
#callback_shadow_buy {
   background-color: #000;
   width: 100%; 
   height: 100%; 
   position: fixed; 
   left: 0px; 
   top: 0px;
   display: none;
   opacity: .2;
   
}
#callback_shadow_reviews {
   background-color: #000;
   width: 100%; 
   height: 100%; 
   position: fixed; 
   left: 0px; 
   top: 0px;
   display: none;
   opacity: .6;

}
#callback_shadow_filter {
   background-color: #000;
   width: 100%; 
   height: 100%; 
   position: fixed; 
   left: 0px; 
   top: 0px;
   display: none;
   opacity: .6;

}

#map_shadow {
   background-color: #000;
   width: 100%; 
   height: 100%; 
   position: fixed; 
   left: 0px; 
   top: 0px;
   display: none;
   opacity: 0.2;
  
}
#map_shadow_o {
   background-color: #000;
   width: 100%; 
   height: 100%; 
   position: fixed; 
   left: 0px; 
   top: 0px;
   display: none;
   opacity: .2;
}
#map_shadow_news {
   background-color: #000;
   width: 100%; 
   height: 100%; 
   position: fixed; 
   left: 0px; 
   top: 0px;
   display: none;
   opacity: .2;
}

#error_message {
    color: red;
    opacity: 0;
    text-align: center;
    margin: 0 0 -15px 35px;
	display:none;
	
}
#error_message_phone {
    color: red;
    opacity: 0;
    text-align: center;
    margin: 0 0 -15px 35px;
    display:none;
	
}
#error_message_footer {
    color: red;
    opacity: 0;
    text-align: center;
    margin: 0 0 -15px 35px;
	display:none;
	
}
#error_message_footer_phone {
    color: red;
    opacity: 0;
    text-align: center;
    margin: 0 0 -15px 35px;
	display:none;
	
}
#error_message_sale {
    color: red;
    opacity: 0;
    text-align: center;
    margin: 0 0 -15px 35px;
	display:none;

}
#error_message_sale_phone {
    color: red;
    opacity: 0;
    text-align: center;
    margin: 0 0 -15px 35px;
	display:none;

}

.delsel{
	width:10px; 
	height:14px; 
	float:left; 
	display:none;
	background-image:url('/images/design/kr.png');
	background-position: bottom;
	background-repeat:no-repeat;
	cursor:pointer;}
#form_map {
   position: fixed;
   z-index: 9999999;
   /*display: none;*/
   width: 609px;
   height: 450px !important;
  /* top:20%;
   left: 38%;*/
}
#form_map_close{
   position: absolute;
   background: url('/images/img_callback/close.png') no-repeat;
   width: 20px;
   height: 20px;
   right: 10px;
   top: 10px;
   cursor: pointer;  
   z-index: 999;
}
#form_map_o {
   position: fixed;
   z-index: 9999999;
   /*display: none;*/
   width: 609px;
   height: 450px !important;
  /* top:20%;
   left: 38%;*/
}
#form_map_close_o{
   position: absolute;
   background: url('/images/img_callback/close.png') no-repeat;
   width: 20px;
   height: 20px;
   right: 10px;
   top: 10px;
   cursor: pointer;  
   z-index: 999;
}
#form_sindika {
   position: fixed;
   z-index: 9999999;
   /*display: none;*/
   width: 609px;
   height: 450px !important;
  /* top:20%;
   left: 38%;*/
}
#form_map_close_news{
   position: absolute;
   background: url('/images/img_callback/close.png') no-repeat;
   width: 20px;
   height: 20px;
   right: 10px;
   top: 10px;
   cursor: pointer;  
   z-index: 999;
}


.warring{
    margin:10px 0px;
    display: none;
    text-align: center;
}


.warring p.error_message{
    margin-left:35px !important;
    height:21px;
    color: red;
    text-align: center!important;
}

.warring p.error_message_phone{
    margin-left:35px !important;
    color: red;
    text-align: center;
    display: none;
}

.answer{
padding-left:35px!important;
}

/* POP-UP */
#window{
    width: 600px;
    margin: 20px auto;
    display: none;
    z-index: 200;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    text-align: center;
}
#one_click {
    width: 600px;
    margin: 20px auto;
    display: none;
    z-index: 200;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    text-align: center;
}
	
.close {
    background: none !important;
    bottom: auto !important;
    font-size: 40px;
    left: auto !important;
    position: absolute;
    right: 6px !important;
    top: 12px !important;
    z-index: 2 !important;
    color: #003366;
    cursor: pointer;
    -webkit-transition: opacity .15s ease-in-out;
    -moz-transition: opacity .15s ease-in-out;
    -ms-transition: opacity .15s ease-in-out;
    -o-transition: opacity .15s ease-in-out;
    transition: opacity .15s ease-in-out;
}

.name_form_training {
	font-size: 18px;
	margin: 15px 0px 5px;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	color:#333;
	border-bottom: 5px solid #d0d0d0;
	padding-bottom: 15px;
}

#form_training {
	padding: 10px 16px;
}

#form_training input {
	width: 100%;
	box-sizing: border-box;
	margin: 5px 0px;
	padding: 2%;
	border: 1px solid #d0d0d0;
	color:#707070;
	border-radius: 3px;
}

#form_training textarea {
	width: 100%;
	margin: 5px 0px;
	padding: 2%;
	border: 1px solid #d0d0d0;
	color:#707070;
	border-radius: 3px;
	box-sizing: border-box;
}

.button_training a {
	text-transform: uppercase;
	font-family: Roboto, sans-serif;
	font-weight: bold;
	color: #fff;
	background: #7f5890;
	padding: 4px 20px;
	font-size: 14px;
	border-radius: 3px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	cursor:pointer;
	width: 50%;
}