.form-required 
{
	color: red;
}


.checked_field{
    width: 355px; 
    float: right; 
    margin-right: 32px; 
    margin-bottom:12px; 
    border-radius: 5px; 
}

.required_msg{
    font-weight:normal;
    display:none;
}
    

    
.allsystem_call input[type='checkbox'] {
    display: none;
    }
.allsystem_call input[type='checkbox']:checked + label{
    background-color: #c1d2de;
}   
.elit {
    background: url('img_question/q_btn_yellow.jpg');
    background-repeat: no-repeat;
} 
.sys_a{
    position: relative;
    top:4px;
    opacity: 0.45;
}
.sys_a:hover{
    opacity: 1;
}



.form_zgl{
    margin: 0px 0px 25px 30px;
}
.form_callback .input_txt, .form_callback .callback_select, .form_all .input_txt, .form_all .callback_select{
    width: 310px !important;
	box-sizing: border-box;
}



#form_wrapper{
    opacity: 0;
    display:none;
}

#callback_shadow{
    display: none;
}



#form_id_action, #open_answer, #mask_phone, #info_test{
    display: none;
}



.select_list{
height:1px;
opacity: 0;
}


#formcallback  .pay-btn-fon_cont .pay-btn-fon{
    position: relative; 
    float: left;
    cursor:pointer;
    margin: 0px 0px 0px 0px;
    top: 0px;
    left: 0px;
    z-index: 100;
}
#formcallback  .pay-btn-fon_cont .pay-btn-fon1{
    position: relative; 
    float: left; 
    cursor:pointer;
    margin: 1px 0px 0px 25px;
    top: 0px;
    left: 0px;
}
#formcallback .pay-btn-fon_cont .pay-btn-fon_passive{
    position: relative!important; 
    top:0px; 
    right: 0px; 
    cursor:pointer;  
    opacity: 0;
    display: none;
    float: left;
    margin: 0px 0px 0px 0px;
    z-index: 0;
} 

#formcallback  .pay-btn-fon_cont:hover >  .pay-btn-fon_passive{
    display: block!important;
    opacity: 1!important;
    top:0px!important; 
    right: 0px!important; 
    float: left!important;
    margin: 0px 0px 0px 0px!important;
    z-index: 200;
} 


#formcallback .form_submit_block{
    text-align: center!important;
    margin: 0px!important;
}


#formcallback .form_submit_block .bottom_form_txt{
    text-align: center!important;
    margin: 15px 0px 0px!important;
    pading: 5px 0px!important;
    font-size: 14px;
    color: #003366;
    display: block;
}

#formcallback .pay-btn-fon_cont .form_submit{
    margin: 0px!important;
    display: none!important;
    width: 230px;
}

#formcallback .pay-btn-fon_cont{
    position: relative;
    display: block;
    border-radius: 4px !important;
    height: 38px;
    background-size: 36px !important;
    padding: 0px !important;
    font-weight: normal !important;
    background: url('/images/img_callback/pay-btn-fon-1px-1.png') repeat-x 0px -2px #00a1e8 !important;
    transition: 0.3s ease !important;
    box-shadow: 1px 1px 2px 0 #c5c5c5, inset 0px 2px 0px 0 rgba(255,255,255,0.5) !important;
    width: 230px;
    margin: 5px auto!important;
    font-size: 15px!important;
    cursor: pointer;
    clear: both;
}

#formcallback .pay-btn-fon_cont:hover{
    text-decoration: none;
}


#formcallback .pay-btn-fon_cont span{
    margin: 10px 0px 0px 10px;
    position: relative;
    float: left;
    display: block;
    top: 0px;
    /*text-shadow: 0px -1px 0px #a2671c;*/
    text-shadow:0 -1px 0px #1181c1;
}


#callback_shadow{
    z-index: 20000!important;
}

.form_callback{
    z-index: 21000!important;
}

.top{
    /*z-index: 20000!important;*/
    position: relative!important;
}

.form_callback .callback_select{
    background-image: none!important;
}