.filter_navigation_content{
    width: 100%;
}
.filter_navigation_content .filter_navigation_btn_cont{
    position: relative;
    height: 65px;
    z-index: 10;
}
.filter_navigation_content .filter_navigation_btn_cont .filter_navigation_btn_fon{
    position: absolute;
    top:0px;
    left: 0px;
    height: 65px;
    border: 1px solid #bfc2c2;
    border-radius: 5px;
    width: 100%;
    z-index: 1;
}
.filter_navigation_content .filter_navigation_btn_cont .filter_navigation_btn_text{
    position: absolute;
    z-index: 2;
    top: -18px;
    left: 160px;
    padding: 0px 20px;
    background-color: #ffffff;
    
}
.filter_navigation_content .filter_navigation_btn_cont .filter_navigation_btn{
    position: absolute;
    top:18px;
    left: 10px;
    width: 570px;
    z-index: 3;
}
 .filter_navigation_btn_cont .filter_navigation_btn .filter_navigation_menu{
    /*border: 1px solid #cbdae5;*/   
    height: 65px;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
    border-radius: 6px;    
}
 .filter_navigation_btn_cont .filter_navigation_btn .filter_navigation_menu ul{
    margin: 0px;
    padding: 0px;
    display: table;
    width: 100%;
}
 .filter_navigation_btn_cont .filter_navigation_btn .filter_navigation_menu li{
    float: none;
    display: table-cell;
    vertical-align: top;
    background: -moz-linear-gradient(top, #f6fbfe 0%, #edf5f8 40%, #dde9ee 100%);
    background: -webkit-linear-gradient(top, #f6fbfe 0%, #edf5f8 40%, #dde9ee 100%);
    background: -o-linear-gradient(top, #f6fbfe 0%, #edf5f8 40%, #dde9ee 100%);
    background: -ms-linear-gradient(top, #f6fbfe 0%, #edf5f8 40%, #dde9ee 100%);
    background: linear-gradient(top, #f6fbfe 0%, #edf5f8 40%, #dde9ee 100%);     
 }
 .filter_navigation_btn_cont .filter_navigation_btn .filter_navigation_menu li:hover{
    background: -moz-linear-gradient(top, #c1eaf6 0%, #cceefa 10%, #b3e2f1 40%, #84cbe0 100%);
    background: -webkit-linear-gradient(top, #c1eaf6 0%, #cceefa 10%, #b3e2f1 40%, #84cbe0 100%);
    background: -o-linear-gradient(top, #c1eaf6 0%, #cceefa 10%, #b3e2f1 40%, #84cbe0 100%);
    background: -ms-linear-gradient(top, #c1eaf6 0%, #cceefa 10%, #b3e2f1 40%, #84cbe0 100%);
    background: linear-gradient(top, #c1eaf6 0%, #cceefa 10%, #b3e2f1 40%, #84cbe0 100%);   
    box-shadow: 2px 2px 5px #afe0ef inset;
 }
 .active{
    background: -moz-linear-gradient(top, #c1eaf6 0%, #cceefa 10%, #b3e2f1 40%, #84cbe0 100%) !important;
    background: -webkit-linear-gradient(top, #c1eaf6 0%, #cceefa 10%, #b3e2f1 40%, #84cbe0 100%) !important;
    background: -o-linear-gradient(top, #c1eaf6 0%, #cceefa 10%, #b3e2f1 40%, #84cbe0 100%) !important;
    background: -ms-linear-gradient(top, #c1eaf6 0%, #cceefa 10%, #b3e2f1 40%, #84cbe0 100%) !important;
    background: linear-gradient(top, #c1eaf6 0%, #cceefa 10%, #b3e2f1 40%, #84cbe0 100%) !important;   
    box-shadow: 2px 2px 5px #afe0ef inset;    
 }
 .filter_navigation_btn_cont .filter_navigation_btn .filter_navigation_menu .filter_navigation_menu_left{
    border-radius: 6px 0 0 6px;
}
 .filter_navigation_btn_cont .filter_navigation_btn .filter_navigation_menu .filter_navigation_menu_right{
    border-radius: 0 6px 6px 0;
}
 .filter_navigation_btn_cont .filter_navigation_btn .filter_navigation_menu li .filter_menu_wrapper{
    position: relative;
    height: 65px;    
    background: url('/images/filter/dizain/filter_menu_line.png') no-repeat top right;
    cursor: pointer;
}
 .filter_navigation_btn_cont .filter_navigation_btn .filter_navigation_menu li .filter_menu_wrapper_right{
    background: none !important;
}
.filter_menu_wrapper a{
    text-align: center;
    display: block;
    padding: 0px 10px;
    font-size: 19px;
    color: #00568e;
    text-decoration: none;
    text-shadow: 0 1px 0 #FFFFFF;    
}
.filter_menu_wrapper a .filter_link_inner{
    display: table-cell;
    height: 65px;
    vertical-align: middle;
    width: 1%;
    line-height: 1;    
}
.filter_link_inner #elitt{
    position: relative;
    left: -3px;
}
.filter_navigation_content .filter_navigation_text_cont .filter_navigation_text_section .gallery_bottoms_conteiner{
    width: 590px;
}
.filter_navigation_content .filter_navigation_text_cont .filter_navigation_text_section .gallery_bottoms_conteiner_byitovyie{
    width: 590px;
}
.filter_navigation_content .filter_navigation_text_cont .filter_navigation_text_section .gallery_bottoms_conteiner_preview{
    width: 590px;
}
.filter_navigation_content .filter_navigation_text_cont .gallery_bottoms_ul{
    position: relative;
    z-index: 10;
    padding-left: 0px !important;
}
.filter_navigation_content .filter_navigation_text_cont .gallery_bottoms_ul .filter_base{
    height: 100%;
    max-width: 100%;
    overflow: hidden;
    position: relative;    
    z-index: 10;
}
.filter_navigation_content .filter_navigation_text_cont .gallery_bottoms_ul .filter_base .filter_base_conteiner{
    left: 0px;
    position: relative;
    top: 0px;
    margin-right: 0;
    overflow: hidden;   
    z-index: 10;
}
.filter_navigation_content .filter_navigation_text_cont .gallery_bottoms_ul .filter_base .filter_base_conteiner_elit{
    width: 1000px !important;
}
.filter_navigation_content .filter_navigation_text_cont .gallery_bottoms_ul .filter_base .filter_base_conteiner_premium{
    width: 1800px !important;
}
.filter_navigation_content .filter_navigation_text_cont .gallery_bottoms_ul .filter_base .filter_base_conteiner_standart{
    width: 1330px !important;
}
.filter_navigation_content .filter_navigation_text_cont .gallery_bottoms_ul .filter_base .filter_base_conteiner_byitovyie{
    width: 1000px !important;
}
.filter_navigation_content .filter_navigation_text_cont .gallery_bottoms_ul .filter_base .filter_base_conteiner_preview{
    width: 1300px !important;
}
.filter_navigation_content .filter_navigation_text_cont .gallery_bottoms_ul li{
    list-style-type: none !important;
    width: 155px;
    height: 274px;
    text-align: center;
    display: none;
    margin: 0px 30px 0px 0px;
    float: left;
    opacity: 0;
    cursor: pointer;
    position: relative; 
    z-index: 10;
}
.filter_navigation_content .filter_navigation_text_cont .gallery_bottoms_ul .gallery_bottoms_ul_font{
    color:#005c9f;
    font-size: 15px;
    font-weight: bold;
}
.gallery_bottoms_ul_font span{
    display: block;
}
.filter_navigation_content .filter_navigation_text_cont .gallery_bottoms_ul .gallery_bottoms_ul_font_byitovyie{
    color:#005c9f;
    font-size: 15px;
    font-weight: bold;
    display: block;
    margin-top: -9px;
}

.filter_navigation_content .filter_navigation_text_cont .filter_navigation_text_section{
    display: none;
    opacity: 0;
}
.filter_navigation_text_galaxy .top_banner_menu_navigation{
    display: none !important; 
}
.filter_navigation_content .filter_navigation_text_cont #standart{
    display: block;
    opacity: 1;
}
.filter_navigation_content .filter_navigation_text_cont .filter_navigation_text_section .top_banner_menu_navigation{
    position: relative;
    width: 592px;
    margin: 0px auto;
    left: -10px;
    opacity: 0;
}
.filter_navigation_content .filter_navigation_text_cont .filter_navigation_text_section .top_banner_menu_navigation_right{
    top:-210px;
    position: absolute;
    left:580px;
    cursor: pointer;
    opacity: 1;
    /*transition: 0.3s ease;
    -o-transition: 0.3s ease;
    -webkit-transition: 0.3s ease;*/
    display: block;
    width: 33px;
    height: 33px;
    background: url('images/active_arrow_right.png') 0px 0px no-repeat;
    z-index: 11;
}
.filter_navigation_content .filter_navigation_text_cont .filter_navigation_text_section .top_banner_menu_navigation_right.possive{
    background: url('images/posive_arrow_right.png') 0px 0px no-repeat;
}
.filter_navigation_content .filter_navigation_text_cont .filter_navigation_text_section .top_banner_menu_navigation_left{
    top:-210px;
    position: absolute;
    left:0px;
    cursor: pointer;
    display: block;
    width: 33px;
    height: 33px;
    background: url('images/active_arrow_left.png') 0px 0px no-repeat;
    /*opacity: 0.6;
    transition: 0.3s ease;
    -o-transition: 0.3s ease;
    -webkit-transition: 0.3s ease;*/
    z-index: 11;
} 
.filter_navigation_content .filter_navigation_text_cont .filter_navigation_text_section .top_banner_menu_navigation_left.possive{
    background: url('images/posive_arrow_left.png') 0px 0px no-repeat;
}

.spec_btn_forma .form_all {
    border: 2px solid #e0e0e0 !important;
    background: #f5f5f5 !important;
}
.spec_btn_forma .form_all #bg_pattern {
    background: none !important;
}
.filter_preview_content{
    display: block; 
    margin-top: 7px; 
    margin-bottom: 10px;
}
.filter_preview_content .filter-main-pict-preview_right{
    margin-right: 24px;
}
.filter-icons a{
    text-decoration: none;
}
.filter-icons a span{
    border-bottom: 1px dashed #1890d6;
    color: #1890d6;
}
.filter-icons a span:hover{
    border-bottom: 1px dashed #ffffff;
}
.button2{
    margin: 0px 0px 0px 60px;
}
.button2 #butt2{
    border-radius:4px; 
    cursor: pointer; 
    padding: 3px 65px 3px 20px; 
    margin-left: 5px; 
    font-weight: normal !important; 
    background-size: 1px 40px;
    background: url('/images/img_callback/sale-btn-1px_fon2.png') repeat-x 0px -6px #e2761a;
    position: relative;
}
.button2 .butt2_span{
    font-weight: normal !important;
    text-shadow: none !important;
}
/*#form_dropdown_SIMPLE_QUESTION_169-styler,
#form_dropdown_SIMPLE_QUESTION_346-styler {
    width: 330px !important;
}*/
.ico_title_filtr {
    z-index: 1000 !important;
    position: absolute;
}
.pollution-block__ico{
    z-index: 1000 !important;
}
.filter_expand{
    color: #1890D6;
    border-bottom: 1px dotted #1890D6;
    cursor: pointer;
    display: block;
    float: left;
}
.filter_expand:hover{
    border-bottom: 1px dotted #ffffff;
}
.filter_expand_text{
    display: none;
    opacity: 0;
}
.filter_expand_str{
    margin-left: 4px;
    margin-top: 4px;
    cursor: pointer;
    display: block;
    float: left;
}
#filter_expand_str_up{
    display: none;
}
.filter_contacts{
    color:#005c9f;
}
.filter_phone{
    color:#005c9f;
    font-size: 12px;
    font-weight: bold;
}
.ico_title_filtr {
        /*display: none;*/
        position: absolute;
        border: 1px solid #02699c;
        background-color: #008acd;
        padding: 12px;
        bottom: -55px !important;
        //width: 50px;
        opacity: 0.95 !important;
        left: -15px;
        color: #ffffff;
        font-size: 14px;
        border-radius: 4px;
        text-shadow: 1px 1px 0px rgba(0,0,0,0.3);
        z-index: 9999 !important;
}
.ico_title_filtr:before {
        background-image: url('/images/filter/propert_up.png') !important;
        position: absolute;
        bottom: 40px;
        content: "";
        display: block;
        height: 12px;
        left: 10px;
        width: 22px;         
}
#form_bott{
    display: none;
    opacity: 0;
}
#form_wrapper_footer{
    position: relative !important;
    left: 0px !important;
    top:0px !important;
    z-index: 1 !important;
    margin-top: 25px !important;
    margin-bottom: 25px !important;
}
#callback_shadow_footer{
    display: none !important;
}
.form_callback_footer{
    border:1px solid #7db4ec !important;
}

#byitovyie{
    display: block!important;
    opacity: 1!important;
    clear: both;
    margin: 20px 0px!important;
}
