table.form-table
{
	width:100%;
	background-color:white;
	border-collapse:collapse;
	font-size:100%;
	font-weight:normal;
	/*line-height:160%;*/
}

table.form-table th, table.form-table td
{
	/*border:1px solid #ADC3D5;*/
	/*padding: 5px 5px;*/
	vertical-align:top;
}

table.form-table th
{
	/*background-image:url(images/table_head.gif);*/
	background-repeat:repeat-x;
	text-align: left;
	color:#25639A;
}


table.form-table td
{
	/*padding: 15px 5px;*/
}

.form-required 
{
	color: red;
}

.error-fld {
	display: block;
	float: left;
	height: 13px;
	width: 15px;
	background-repeat: no-repeat;
	/*background-image: url(images/icon_warn.gif);*/
}
.systems{
    width:170px; 
    height: 60px; 
    border:1px solid #41a5df; 
    border-radius: 6px; 
    float: left; 
    margin-right: 10px; 
    margin-bottom: 18px;
    display: block;
    background-color: #ffffff;
    text-decoration: none;
    color:#1890d6;
    cursor: pointer;
    transition: all 0.3s;
}
.systems:hover{
    /*border:1px solid #b9def7;*/
    box-shadow: 0 0 5px 0 rgba(65,165,223,0.6);
    color:#ffffff;
}  
.systems_img{
    margin-top: 15px; 
    margin-left: 10px;
}
.systems_a{
    color:#1890d6;
    position: relative;
    top:20px;
    left: 60px;
}    
#class{
    background-color: #c1d2de;
    color:#ffffff;
}
.sys_active{
    box-shadow: inset 0 0 0 1px #e9ad89 !important;
    color:#ffffff;    
    border:1px solid #e9ad89;
}
.sys_passive{
    background-color: #ffffff;
    color:#1890d6;        
}    
.allsystem input[type='checkbox'] {
    display: none;
    }
.allsystem input[type='checkbox']:checked + label{
    background-color: #c1d2de;
}   
.elit {
    background: url('img_question/q_btn_yellow.jpg');
    background-repeat: no-repeat;
} 
.sys_a{
    position: relative;
    top:4px;
    opacity: 0.45;
}
.sys_a:hover{
    opacity: 1;
}

.left_title{
    float: left;
    width: 50%;
}

.form_all{
    display: block;
    border: 0px solid #fff;
    overflow: auto;
    clear: both;
    position: relative;
}

.right_call.answer{
    display: block;
    right: 0px;
    width: 50%;
    position: absolute;
    text-align: right;
    top: 0px;
    padding: 10px 20px 0px 0px;
}

.right_call{
    display: block;
    right: 0px;
    width: 50%;
    position: absolute;
    text-align: right;
    top: 0px;
    padding: 70px 20px 0px 0px;
}

.right_call  p{
    margin: 0px!important;
    padding: 0px;
    text-align: right!important;
}

.right_call .ems_fiter_form_call,
.right_call .ems_fiter_form_text,
.right_call .ems_filter_form_callback{
  position: relative!important;
  top: 0px!important;
  left: 0px!important;
} 

.right_call .ems_fiter_form_call{
    color: #005785!important;
    font-size: 32px!important;
    margin: 10px 0px 0px!important;
    line-height: 100%;
}

.right_call .ems_filter_form_callback{
    border-bottom: 1px dashed #003366!important;
    cursor: pointer;
}

.right_call .ems_fiter_form_text{
    font-size: 12px!important;
}




.filter_tab_conteiner{
    position: relative;
    height: 20px;
    margin-left: 35px;
    margin-bottom: 0px;
}
.filter_tab_conteiner .filter_tab_conteiner_btn{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 3;    
}
.filter_tab_conteiner_btn .filter_tab_conteiner_menu{
    height: 20px;
    border-radius: 6px;    
}
.filter_tab_conteiner_btn .filter_tab_conteiner_menu ul{
    padding-left: 0px;
    margin: 0px;
    padding: 0px;
    display: table;
    border-radius: 6px;  
}
.filter_tab_conteiner_btn .filter_tab_conteiner_menu .filter_tab_conteiner_left{
    border-radius: 6px 0 0 6px;    
}
.filter_tab_conteiner_btn .filter_tab_conteiner_menu .filter_tab_conteiner_right{
    border-radius: 0px 6px 6px 0px;
}
.filter_tab_conteiner_btn .filter_tab_conteiner_menu ul li{
    float: none;
    display: table-cell;
    vertical-align: top;
    /*background: -moz-linear-gradient(top, #f6fbfe 0%, #edf5f8 30%, #dde9ee 100%);
    background: -webkit-linear-gradient(top, #f6fbfe 0%, #edf5f8 30%, #dde9ee 100%);
    background: -o-linear-gradient(top, #f6fbfe 0%, #edf5f8 30%, #dde9ee 100%);
    background: -ms-linear-gradient(top, #f6fbfe 0%, #edf5f8 30%, #dde9ee 100%);
    background: linear-gradient(top, #f6fbfe 0%, #edf5f8 30%, #dde9ee 100%);*/
    background: #d1dde2 !important;
    width: 260px;
}
.filter_tab_conteiner_btn .filter_tab_conteiner_menu .active {
    /*background: -moz-linear-gradient(top, #c1eaf6 0%, #b3e2f1 30%, #84cbe0 100%) !important;
    background: -webkit-linear-gradient(top, #c1eaf6 0%, #b3e2f1 30%, #84cbe0 100%) !important;
    background: -o-linear-gradient(top, #c1eaf6 0%, #b3e2f1 30%, #84cbe0 100%) !important;
    background: -ms-linear-gradient(top, #c1eaf6 0%, #b3e2f1 30%, #84cbe0 100%) !important;
    background: linear-gradient(top, #c1eaf6 0%, #b3e2f1 30%, #84cbe0 100%) !important;*/
    background: #0095eb !important;
    box-shadow: none !important;
}
.filter_tab_conteiner_btn .filter_tab_conteiner_menu .filter_tab_menu_wrapper{
    position: relative;
    height: 34px;
    cursor: pointer;
    text-align: center;
}
.filter_tab_conteiner_btn .filter_tab_conteiner_menu .filter_tab_conteiner_left .filter_tab_menu_wrapper{
    background: url('/images/filter/dizain/filter_menu_line.png') no-repeat top right; 
}
.filter_tab_menu_wrapper a {
    font-size: 14px;
    color: #ffffff;
}
.filter_tab_menu_wrapper a .filter_tab_link_inner{
    display: table-cell;
    height: 34px;
    vertical-align: middle;
    width: 1%;
    line-height: 1;
    color: #ffffff !important;    
}

.form_p{
    float: left!important;
    width: 190px!important;
    display: block!important
}

.bottom_form_p{
  text-align: center!important; 
  font-size: 12px!important;
  padding: 0px 35px 0px 0px!important;
}

.form_submit_block{
  padding: 0px 5px 0px 0px !important;
  text-align: center;
}

.main_page{
    margin: 20px auto 0px auto;
    text-align: center;
}

.main_page span {
    outline: none;
    display: block;
    text-decoration: none;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    margin: 0px auto 15px auto;
    height: 28px;
    line-height: 28px;
    color: #fff;
    border-radius:4px; 
    cursor: pointer; 
    padding: 3px 5px; 
    background-size: 1px 40px;
    background: url('../images/img_callback/sale-btn-1px_fon2.png') repeat-x 0px -6px #c3232b;
    text-shadow: 0px -1px 0px #c3232b;
    position: relative;
    width: 230px;
}

.pdf_icon {
	margin-right: 5px;
}