<div id="page_title"><p><a href="./">Главная</a></p><h1 data-page="{$page->id}">{$page->header|escape}</h1></div>
<div id="category_description">
{if $page->body}{$page->body}
{else}<h4 style='padding:50px 0;'>Страница на стадии оформления<br />Попробуйте зайти позже</h4>{/if}
</div>