html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td
{margin:0;padding:0;border:0;outline:0;font-size:100%;background:transparent;}

ol, ul 					{list-style:none;}
blockquote, q 			{quotes:none;}
blockquote:before, blockquote:after, q:before, q:after {content: '';content:none;}
ins 						{text-decoration:none;}
del 						{text-decoration:line-through;}
table 					{border-collapse:collapse;border-spacing:0;vertical-align:top;}
strong 					{font-weight:bold;}
input 					{cursor:pointer;}
select 					{cursor:pointer;border:1px solid #E8E8E8;font-size:11px;}