@import url("reset.css");
@import url("static.css");
@font-face 	{font-family: "Franklin";src: url("framdcn.eot");}
@font-face 	{font-family: "Franklin";src: url("framdcn.ttf");}

html, body 						{height:100%;color:#2f2f2f;font:12px/1.231 Arial, Helvetica, sans-serif;}
p								{margin-bottom:4px;}
h1, h2, h3, h4 					{color:#383838;line-height:normal;margin-bottom:10px;font:normal 19px/1.023 Tahoma, Arial, Helvetica, Geneva, sans-serif;}
h1 								{font:400 20px/20px Franklin, Arial, sans-serif;}
h2 								{font:400 18px/18px Franklin, Arial, sans-serif;}
h3 								{font-size:14px;margin:10px 0;}
h4 								{font:bold 14px/16px Tahoma, Arial, Helvetica, Geneva, sans-serif;}

a 								{color:#3463B3;text-decoration:none;-webkit-transition-property:color;-webkit-transition-duration: 1s;}
a:hover 							{color:#3463B3;text-decoration:underline;}
.link_2, a.link_2 				{color:#2f2f2f;text-decoration:underline;}
a.link_2:hover 					{color:#3463B3!important;text-decoration:none;}
.color 							{color:#3463B3!important;}

#top_bg 							{min-width:1040px;background:url(../images/bg/bg_top.png) repeat-x top;}
#wrapper 						{width:1020px;margin:0 auto;padding:0 10px;}

#wrapper > .header_label			{position:absolute;z-index:9999;left:50%;margin:145px 0 0 -620px;width:110px;height:129px;display:block;background:url(../images/bg/header_label.png) no-repeat right;}
#header							{position:relative;overflow:hidden;height:200px;margin-bottom:20px;color:#A6A5A5;font-size:11px;}

#content-container				{clear:both;overflow:hidden;margin-bottom:20px;min-height:800px;background:#fff}
#content_right					{float:right;overflow:hidden;width:770px;padding-left:15px;}
#content_left					{float:left;overflow:hidden;width:230px;}
#content_left > ul				{clear:both;margin-bottom:10px;padding:15px;border:1px solid #e9e9e9;border-radius:8px;background:#F7F7F7;}
#content_left p					{margin-bottom:7px;}
#content_left > ul h2				{margin-bottom:20px;padding:3px 0 2px 17px;text-align:left;background:url('../images/bg/sprites.png') 0 6px no-repeat;}

#page_title 						{border-right:5px solid #BFBFBF;border-left:5px solid #3463B3;padding:4px 10px 3px 10px;margin-bottom:20px;}
#page_title p					{float:left;margin-bottom:3px;font-size:11px;}
#page_title h1, #page_title h2 	{clear:both;margin-bottom:5px;}
#category_description 			{clear:both;overflow:hidden;margin:10px 10px;padding-bottom:15px;}

#top_line						{position:absolute;top:12px;left:0;}
#top_line a						{display:inline-block;width:184px;height:50px;margin-right:22px;background:url(../images/images_theme/top_line.png);}
#top_line > .top_01				{background-position:0 0;}
#top_line > .top_02				{background-position:185px 0;}
#top_line > .top_03				{background-position:370px 0;}
#top_line > .top_04				{background-position:555px 0;}
#top_line > .top_05				{background-position:740px 0;margin:0;}

#header > .logo 					{position:absolute;top:60px;left:0;height:90px;width:450px;background:url(../images/images_theme/logo.png) no-repeat left;}

#contacts						{position:absolute;top:85px;left:440px;}
#contacts p, #contacts a			{font:bold 12px/1.231 Arial;color:#000;text-decoration:none;}
#contacts p img					{float:left;padding-right:7px;width:14px;height:14px;}

#user_box_top					{position:absolute;top:72px;right:0;width:450px;text-align:right;}
#user_box_top > .username		{font-size:14px;font-weight:700;color:#000;}

#currencies						{position:absolute;top:116px;right:295px;width:150px;}
#currencies select				{width:80px;background:#FAFAFA;border:1px solid #E8E8E8;color:#A6A5A5;}

#search							{position:absolute;top:110px;right:0;width:300px;overflow:hidden;background:white;border:1px solid #CECECE;}
#search .button_search 			{position:absolute;right:0;width:27px;height:27px;border:none;background:url(../images/bg/bg_search_button.png) 50% 50% no-repeat;}
#search .input_search 			{border:none;padding:7px;width:85%;font-size:11px;color:#929292;}
.autocomplete-w1 				{position:absolute;top:0;left:0;margin:6px 0 0 6px;/* IE6 fix: */ _background:none;_margin:1px 0 0 0;}
.autocomplete 					{width:298px!important;font-size:11px;color:#929292;border:1px solid #999;background:#FFF;cursor:default;text-align:left;overflow-x:auto;overflow-y: auto;margin:-6px 6px 6px -6px;_height:350px;_margin:0;_overflow-x:hidden;}
.autocomplete .selected 			{background:#F0F0F0;color:#000;}
.autocomplete div 				{padding:2px 5px;white-space:nowrap;}
.autocomplete strong 				{font-weight:bold;color:#3463B3;}

#section_menu		 			{overflow:hidden;position:absolute;top:157px;height:41px;width:100%;font-size:11px;border:1px solid #2A4569;background:#3463B3 url('../images/bg/bg_section_menu.png') top repeat-x;}
#section_menu li	 				{display:inline-block;padding:15px 15px;font-weight:700;text-transform:uppercase;border-right:1px solid #2A4569;}
#section_menu li,
#section_menu a					{color:#A7BFE7;}
#section_menu li.selected a,
#section_menu a:hover			{color:#fff;text-decoration:none;}

#cart_informer					{z-index:999;overflow:hidden;position:absolute;top:157px;right:0;height:21px;width:160px;padding:14px 5px 8px 38px;background:#000 url('../images/bg/bg_cart_header.png') 15px 13px no-repeat;}
#cart_informer					{color:#959494;font-weight:700;}
#cart_informer a					{color:#fff;}

#info_block						{font-size:11px;}
#info_block .telnumber			{font:700 15px/15px Arial;margin-bottom:5px;padding:2px 0 2px 22px;background:url('../images/bg/sprites.png') 0 -48px no-repeat;}

#browsed_products li				{display:inline-block;text-align:center;margin:0 3px 4px 0;border:1px solid #E8E8E8;width:42px;height:42px;}
#browsed_products .image 		{line-height:42px;}
#browsed_products .image img		{vertical-align:middle;max-width:35px;}
#browsed_products li:hover		{border:1px solid #CECECE;box-shadow:0 0 8px #D3D3D3;}

#last_products li					{clear:both;overflow:hidden;padding:8px 0 2px;line-height:14px;border-bottom:1px dotted #A5A5A5;}
#last_products a					{color:#666666;}
#last_products li > .image		{float:left;width:50px;line-height:50px;margin-right:10px;}
#last_products li > .image img		{max-width:40px;}
#last_products li > .price		{font-size:16px;font-weight:300;margin:3px 0;}

#all_brands						{text-align:center;}
#all_brands a					{display:inline-block;vertical-align:middle;margin:0 2px;text-decoration:underline;}
#all_brands img					{padding:2px;max-width:54px;border:1px solid #E8E8E8;}

#all_blog li > p.data				{font-weight:700;padding-left:16px;background:url('../images/bg/sprites.png') 0 -72px no-repeat;}
#all_blog li						{margin-bottom:10px;}

/* @products Общее */
.product						{position:relative;overflow:hidden;word-spacing:normal;vertical-align:top;padding:10px 2px 10px;margin-bottom:10px;border:1px solid #e0e0e0;border-radius:8px;}
.product small					{font:bold 12px/12px Arial;}
.product h3 						{overflow:hidden;text-align:center;font:bold 13px/14px Arial;height:42px;}
.product:hover h3 a				{color:#000;}
.image							{text-align:center;width:100%;margin-bottom:10px;background:#fff;overflow:hidden;border:1px solid #EAEAEA;border-radius:6px;}
.image img						{vertical-align:middle;}
.price 							{overflow:hidden;font-weight:700;white-space:nowrap;margin:8px 0;color:#3463B3;font:18px Franklin, 'Arial', sans-serif}
.price i							{font-style:normal;margin:0 5px;font-size:16px;}
.price .compare_price 			{font-size:16px;font-weight:500;text-decoration:line-through;white-space:nowrap;color:#808080;}
.product_info select			 	{width:110px;float:right;margin-top:4px;}
.product .annotation p			{color:#808080;margin-bottom:1px;}
.main .annotation				{display:none}/* не показывать на главной */
.main .label				{//display:none}/* не показывать на главной */

.product:hover .annotation p		{color:#000!important;}

.label							{z-index:1;position:absolute;top:10px;width:30px;height:30px;background:url(../images/bg/labels.png) no-repeat;}
.label_featured					{z-index:7;background-position: 0 0;}
.label_sale						{z-index:2;background-position: 0 -60px;}
.label_new						{z-index:5;background-position: 0 -30px;}

.but_add						{height:25px;border:none;background:#3463B3 url(../images/bg/but_cart.png);border-radius:4px;
								-webkit-box-shadow:	0px 1px 1px rgba(000,000,000,0.4), inset 0px 0px 1px rgba(073,073,073,1);box-shadow:0px 1px 1px rgba(000,000,000,0.4), inset 0px 0px 1px rgba(073,073,073,1);}
.but_add:hover					{margin:-2px 0 2px;}
.but_add:active					{margin:0;}
.but_add.to_cart				{width:36px;background-position:50% 0;}
.but_add.to_cart:hover			{background-position:50% 78px;}
.but_add.more					{float:right;display:block;width:110px;background-position:50% 52px;background-color:#FFFFFF;}
.but_add.more:hover				{background-position:50% 26px;}

/* @products */
.tiny_products					{margin:20px -15px 20px 0;}
.tiny_products > .product		{width:178px;min-height:280px;margin-right:8px;display:-moz-inline-box;display:inline-block;*zoom:1;*display:inline;}
.tiny_products > .product .image 	{line-height:160px;border:none;}
.tiny_products > .product .annotation{overflow:hidden;height:74px;font:11px/12px Arial;}
.tiny_products > .product .product_info{padding:0 10px;}
.tiny_products select				{display:none;margin-right:25px;}

/* @product */
.page							{padding:10px;border:none;}
.page > .image 					{position:relative;float:left;width:250px;line-height:250px;margin-bottom:20px;border-radius:6px;}
.page > .product_info 			{float:right;width:480px;margin-bottom:20px;}
.page > .product_info .to_cart	{width:90px;}
.page > .product_info form 		{width:99%;margin:20px 0;}
.page > .product_info .compare_price{font-size:24px;}
.page > .product_info .price{font-size:32px;}
.page > .product_info .compare_price,
.page > .product_info select 		{float:left;margin-right:20px;}
.page > .product_info .images	{display:inline-block;line-height:60px;width:60px;text-align:center;margin:0 5px 5px 0;background:#fff;overflow:hidden;border:1px solid #EAEAEA;border-radius:6px;}
.page > .product_info .images img	{vertical-align:middle;}

#moneyline						{clear:both;text-align:center;}
#moneyline img					{max-width:1020px;}

#footer-container				{min-width:1040px;clear:both;background:#ECECEC;border-top:2px solid #DEDEDE;font-size:11px;}
#footer							{position:relative;overflow:hidden;margin:0 auto;width:1020px;padding:25px 10px 20px;color:#737373;}

#footer > .footer_menu			{font-size:12px;position:relative;display:inline-block;vertical-align:top;width:29%;margin-right:50px;}
#footer > .footer_menu h2		{font-size:15px;text-transform:uppercase;margin-bottom:15px;padding-left:14px;background:url('../images/bg/filter_arrow.gif') 0 7px no-repeat;}
#footer > .footer_menu li 			{margin-bottom:5px;}
#footer, #footer a, .footer_menu a{color:#737373;}
#footer > .footer_menu a:hover	{color:#000;}
#footer > p						{line-height:12px;color:#A7A7A7;}

#nav-container					{border:1px solid #e9e9e9;border-radius:8px;background:#F7F7F7;margin-bottom:20px;}
#nav 							{padding:0;margin:0;font-size:1em;}
/* All Levels */
#nav li 							{text-align:left;position:relative;}
#nav li.over 						{z-index:998;}
#nav li a 							{display:block;text-decoration:none;text-transform:capitalize;}
#nav li a:hover 					{text-decoration:none;}
#nav li a span 						{display:block;white-space:nowrap;cursor:pointer;}
#nav li ul a span 					{white-space:normal;}
/* 1st Level */
#nav li 							{float:none;display:block;}
#nav li a 							{float:none;padding:9px 0 9px 26px;font-weight:bold;color:#3e3e3e;background:url(../images/bg/filter_arrow.gif) 11px 15px no-repeat;border-bottom:1px solid #dddddd;border-top:solid 1px #fff;}
#nav li a:hover 					{border-top:solid 1px #ddd;}
#nav li.last a						{border-bottom:0;}
#nav > li.hover > a, #nav > li.active > a {background-color:#F2F2F2;border-top:solid 1px #ddd;}
#nav > li.active > ul				{display:block;}
/* 2nd Level */
#nav ul, #nav div 					{position:absolute;width:15em;top:25px;left:-10000px;border:1px solid #ddd;background:#fafafa;}
#nav div ul 						{position:static;width:auto;border:none;}
#nav > li > ul						{position:relative;left:0;top:0;padding:12px 0 12px 5px;width:auto;border:0;background:0;zoom:1;border-top:solid 1px #fff;border-bottom:solid 1px #dddddd;}
#nav > li > ul > li					{border:0;}
#nav > li > ul > li a					{border-bottom:0;padding:5px 0 5px 11px;}
#nav > li > ul > li.items.hover,
#nav > li > ul > li.items.active		{border:0;}
/* 3rd+ leven */
#nav > li > ul > li > ul				{position:relative;left:0!important;top:0;padding:10px 0 10px 10px;width:auto;border:0;background:0;zoom:1;}
#nav > li > ul > li.active > ul		{display:block;}
#nav > li > ul > li > ul > li			{border-bottom:0;}
#nav > li > ul > li > ul > li a			{font-size:11px!important;padding:3px 0 3px 11px;}
#nav > li > ul > li > ul > li > ul > li{background:0!important;}
#nav ul ul, #nav ul div				{top:7px;}
#nav ul li 							{float:none;border-bottom:1px solid #ddd;padding-right:5px;}
#nav ul li.last 					{border-bottom:0;}
#nav ul li a 						{float:none;line-height:13px;display:block;background:url(../images/bg/sub-nav-marker.gif) no-repeat 0 10px;font-weight:normal;color:#888 !important;border:none;}
#nav ul li a:hover					{color:#000 !important;background:0; border:none;}
#nav ul li.active > a, #nav ul li.over > a {color:#000 !important;background:0;border:none;}