<link href="/forms/css/general.css" type="text/css" rel="stylesheet">
<link href="/forms/css/style_023.css" type="text/css" rel="stylesheet">
<link href="/forms/css/style_024.css" type="text/css" rel="stylesheet">
<link href="/forms/css/jquery.formstyler.css" type="text/css" rel="stylesheet">
<link rel="stylesheet" href="/forms/css/form_style.css" type="text/css" media="screen, projection">
<!--<link href="/forms/css/style.css" type="text/css" data-template-style="true" rel="stylesheet">-->          


<div class="form_all" style="border: none; margin-top: 0;">
		<div id="bg_pattern"></div>
		<span class="form_zgl">Оставьте свой отзыв</span>

		<form id="form_comments" method="POST">    
									
				<input type="hidden" name="prod_id" value="{$product->id}"/>
				<input type="hidden" name="prod_name" value="{$product->name|escape}"/>				
									
				<div class="clear">&nbsp;</div>
				
				<p id="p_4597" class="form_p">Ваше имя <font color="red"><span class="form-required starrequired">*</span></font></p>
				<input placeholder="" id="form_text_4597" name="form_text_name" class="input_txt input_required" type="text" required />
						
				<p id="p_4597" class="form_p">Отзыв</font></p>
				<textarea id="form_text_4597" name="form_text_comment" class="input_txt input_required" type="text" ></textarea>
						
				<div class="clear"></div>
				
				<div class="form_submit_block SIMPLE_FORM_70">
						<div class="main_page">
								<span class="but_cl butt2">
										<img class="butt2_img_w" src="/forms/images/sale-btn-str-right_new1.png" width="8" height="10">
										<input type="submit" class="butt2_span" value="Отправить форму">
								</span>
						</div>
				</div>
		</form>
</div>


<script type="text/javascript" src="/forms/js/jquery.formstyler.js"></script>
<script type="text/javascript" src="/forms/js/jquery.customSelect.js"></script>
<script type="text/javascript" src="/forms/js/jquery.inputmask.js"></script>

{literal}       
<script type="text/javascript">
$(document).ready(function() {
	$("#form_comments").submit(function(){
		var form = $(this);
		var error = false;

		if (!error) {
			var data = form.serialize();
			$.ajax({
			   type: 'POST',
			   url: 'forms/sendcomments.php',
			   data: data,
		       beforeSend: function(data) {
		            form.find('#form_comments input[type="submit"]').attr('disabled', 'disabled');
		          },
		        success: function() {
                   $('#form_comments').html("<div id='message'><p style='color: #003366; margin: 0px 15px 25px 32px; padding-top: 25px; display: block; line-height: 1.5; text-align: center;'>Спасибо за ваш отзыв</p></div>")
                 } ,
		       error: function (xhr, ajaxOptions, thrownError) {
		            alert(xhr.status);
		            alert(thrownError);
		         },
		       complete: function(data) {
		            form.find('#form_comments input[type="submit"]').prop('disabled', false);
		         }
		                  
			     });
		}
		return false;
	});
});
</script>
{/literal}