<link href="/forms/css/general.css" type="text/css" rel="stylesheet">
<link href="/forms/css/style_023.css" type="text/css" rel="stylesheet">
<link href="/forms/css/style_024.css" type="text/css" rel="stylesheet">
<link href="/forms/css/jquery.formstyler.css" type="text/css" rel="stylesheet">
<link rel="stylesheet" href="/forms/css/form_style.css" type="text/css" media="screen, projection">
<!--<link href="/forms/css/style.css" type="text/css" data-template-style="true" rel="stylesheet">-->          

<div id="one_click">       
<div class="close" onClick="modal_state('one_click','none')">×</div>
    
<div class="spec_btn_forma" style="width: 592px;">
    
    <div class="form_all">
        <div id="bg_pattern"></div>
        <span class="form_zgl">Получить лучшую цену {$product->name|escape}</span>
        
        
        <form id="form_oneclick" method="POST">    
					
						<input type="hidden" name="prod_id" value="{$product->id}"/>
						<input type="hidden" name="prod_name" value="{$product->name|escape}"/>
								
						<div class="clear">&nbsp;</div>
						
						<p class="form_p">Ваше имя<font color="red"><span class="form-required starrequired">*</span></font></p>
						<input placeholder="" id="one_click__name" name="form_text_name" class="input_txt input_required" type="text" required />
								
						<p class="form_p phone">Телефон<font color="red"><span class="form-required starrequired">*</span></font></p>
						<input placeholder="+7 (___) ___-__-__" data-inputmask="'mask': '9', 'repeat': 10, 'greedy' : false" id="one_click__phone" name="form_text_phone" class="input_txt input_required key_form" type="text" required />
						
						<p id="error_message_phone" style="margin-left:180px;margin-top: 0px;height:28px;margin-bottom: 10px;color: red;">Пожалуйста, убедитесь в правильности заполненного номера</p>
								
					<!--	<p class="form_p">E-mail</p>
						<input placeholder="name@site.ru" id="one_click__email" name="form_text_email" class="input_txt email_send_catalog " type="text">
								
						<p id="one_click__region" class="form_p">Ваш регион</p>
						<select id="form_dropdown_SIMPLE_QUESTION_346" name="form_dropdown_region">
								<option value="не выбрано">не выбрано</option>
								<option value="Москва и область" selected="selected">Москва и область</option>
								<option value="Санкт-Петербург и область">Санкт-Петербург и область</option>
								<option value="Алтайский край">Алтайский край</option>
								<option value="Амурская область">Амурская область</option>
								<option value="Архангельская область">Архангельская область</option>
								<option value="Астраханская область">Астраханская область</option>
								<option value="Белгородская область">Белгородская область</option>
								<option value="Брянская область">Брянская область</option>
								<option value="Владимирская область">Владимирская область</option>
								<option value="Волгоградская область">Волгоградская область</option>
								<option value="Вологодская область">Вологодская область</option>
								<option value="Воронежская область">Воронежская область</option>
								<option value="Еврейская автономная область">Еврейская автономная область</option>
								<option value="Забайкальский край">Забайкальский край</option>
								<option value="Ивановская область">Ивановская область</option>
								<option value="Иркутская область">Иркутская область</option>
								<option value="Кабардино-Балкарская Республика">Кабардино-Балкарская Республика</option>
								<option value="Калининградская область">Калининградская область</option>
								<option value="Калужская область">Калужская область</option>
								<option value="Камчатский край">Камчатский край</option>
								<option value="Кемеровская область">Кемеровская область</option>
								<option value="Кировская область">Кировская область</option>
								<option value="Костромская область">Костромская область</option>
								<option value="Краснодарский край">Краснодарский край</option>
								<option value="Красноярский край">Красноярский край</option>
								<option value="Курганская область">Курганская область</option>
								<option value="Курская область">Курская область</option>
								<option value="Липецкая область">Липецкая область</option>
								<option value="Магаданская область">Магаданская область</option>
								<option value="Мурманская область">Мурманская область</option>
								<option value="Ненецкий автономный округ">Ненецкий автономный округ</option>
								<option value="Нижегородская область">Нижегородская область</option>
								<option value="Новгородская область">Новгородская область</option>
								<option value="Новосибирская область">Новосибирская область</option>
								<option value="Омская область">Омская область</option>
								<option value="Оренбургская область">Оренбургская область</option>
								<option value="Орловская область">Орловская область</option>
								<option value="Пензенская область">Пензенская область</option>
								<option value="Пермский край">Пермский край</option>
								<option value="Приморский край">Приморский край</option>
								<option value="Псковская область">Псковская область</option>
								<option value="Республика Адыгея">Республика Адыгея</option>
								<option value="Республика Алтай">Республика Алтай</option>
								<option value="Республика Башкортостан">Республика Башкортостан</option>
								<option value="Республика Бурятия">Республика Бурятия</option>
								<option value="Республика Дагестан">Республика Дагестан</option>
								<option value="Республика Ингушетия">Республика Ингушетия</option>
								<option value="Республика Калмыкия">Республика Калмыкия</option>
								<option value="Республика Карачаево-Черкесия">Республика Карачаево-Черкесия</option>
								<option value="Республика Карелия">Республика Карелия</option>
								<option value="Республика Коми">Республика Коми</option>
								<option value="Республика Крым">Республика Крым</option>
								<option value="Республика Марий Эл">Республика Марий Эл</option>
								<option value="Республика Мордовия">Республика Мордовия</option>
								<option value="Республика Саха (Якутия)">Республика Саха (Якутия)</option>
								<option value="Республика Северная Осетия-Алания">Республика Северная Осетия-Алания</option>
								<option value="Республика Татарстан">Республика Татарстан</option>
								<option value="Республика Тыва">Республика Тыва</option>
								<option value="Республика Хакасия">Республика Хакасия</option>
								<option value="Ростовская область">Ростовская область</option>
								<option value="Рязанская область">Рязанская область</option>
								<option value="Самарская область">Самарская область</option>
								<option value="Саратовская область">Саратовская область</option>
								<option value="Сахалинская область">Сахалинская область</option>
								<option value="Севастополь">Севастополь</option>
								<option value="Свердловская область">Свердловская область</option>
								<option value="Смоленская область">Смоленская область</option>
								<option value="Ставропольский край">Ставропольский край</option>
								<option value="Тамбовская область">Тамбовская область</option>
								<option value="Тверская область">Тверская область</option>
								<option value="Томская область">Томская область</option>
								<option value="Тульская область">Тульская область</option>
								<option value="Тюменская область">Тюменская область</option>
								<option value="Удмуртская Республика">Удмуртская Республика</option>
								<option value="Ульяновская область">Ульяновская область</option>
								<option value="Хабаровский край">Хабаровский край</option>
								<option value="Ханты-Мансийский автономный округ - Югра">Ханты-Мансийский автономный округ - Югра</option>
								<option value="Челябинская область">Челябинская область</option>
								<option value="Чеченская Республика">Чеченская Республика</option>
								<option value="Чувашская Республика">Чувашская Республика</option>
								<option value="Чукотский автономный округ">Чукотский автономный округ</option>
								<option value="Ямало-Ненецкий автономный округ">Ямало-Ненецкий автономный округ</option>
								<option value="Ярославская область">Ярославская область</option>
						</select>
								
						<p id="one_click__comments" class="form_p">Комментарии</font></p>
						<textarea id="form_text_4597" name="form_text_comment" class="input_txt input_required" type="text" ></textarea>
								
						<p id="p_5789" class="form_p">Презентация</p>
								
            <div style="width: 355px; float: right; margin-right: 22px; margin-bottom:12px; border-radius: 5px; " class=" " id="form_checkbox_SIMPLE_QUESTION_921">
                <input class="if_send_catalog" style="margin-left: -10px;" value="Да" id="one_click__prezent" name="form_checkbox_prezent" type="checkbox">
                <img class="pdf_icon" src="/forms/images/pdf_icon_16x16.gif">
                <label for="one_click__prezent">Получить презентацию на почту</label><br>
            </div>
            
            <div class="clear"></div>
            -->
            <div class="form_submit_block SIMPLE_FORM_70">
                <div class="main_page">
                    <span class="but_cl butt2">
												<img class="butt2_img_w" src="/forms/images/sale-btn-str-right_new1.png" width="8" height="10">
												<input type="submit" class="butt2_span" value="Отправить">
                    </span>
                </div>
            </div> 
        </form>
    </div>
</div>
    
</div>

<script type="text/javascript" src="/forms/js/jquery.formstyler.js"></script>
<script type="text/javascript" src="/forms/js/jquery.customSelect.js"></script>
<script type="text/javascript" src="/forms/js/jquery.inputmask.js"></script>

{literal}
<script>
    $(document).ready(function() {
        $('#'+'one_click__phone').inputmask('mask', {'mask': '+7 (999) 999-9999'});
    });
</script>
    
<script type="text/javascript">
    $(document).ready(function(){
        $('.form_all .callback_select').customSelect();
        $('.form_all .callback_select_wo_size').customSelect();
    });
</script>
    
<script type="text/javascript">
(function($) {
    $(function() {
        $('select').styler();
    });
})(jQuery);
</script>
    
<script type="text/javascript">
		//Функция показа
		function modal_state(el,state){
				document.getElementById(el).style.display = state;
				//document.getElementById('wrap').style.display = state; 			
		}
		
		function setProduct(id, name){
				$('.form_zgl').text('Заказать '+name);
				$('input[name="prod_id"]').val(id);
				$('input[name="prod_name"]').val(name);
		}
</script>

<script type="text/javascript">
	$(document).ready(function() {
	$("#form_oneclick").submit(function(){
		var form = $(this);
		var error = false;

		if (!error) {
			var data = form.serialize();
			$.ajax({
				type: 'POST',
				url: 'forms/buy1click.php',
				data: data,
					beforeSend: function(data) {
							form.find('#form_oneclick input[type="submit"]').attr('disabled', 'disabled');
					},
					success: function() {
							$('#one_click').find('.form_all').html("<div id='message_oneclick'><p style='color: #003366; margin: 0px 15px 25px 32px; padding-top: 25px; display: block; line-height: 1.5; text-align: center;'>Мы получили вашу заявку и в ближайшее время свяжемся с Вами.</p></div>");
							setTimeout(onclick="modal_state('one_click','none')", 5000);
					},
					error: function (xhr, ajaxOptions, thrownError) {
							alert(xhr.status);
							alert(thrownError);
					 },
					complete: function(data) {
							form.find('#form_oneclick input[type="submit"]').prop('disabled', false);
					}		
			});
		}
		return false;
	});
});
</script>
{/literal}